.break-time-container{
    display: flex;
    text-align: center;
    background-color: #FFD6EC;
    
}
/* .break-time-container div{
    background-color: #FFD6EC;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin: 5px;
} */
button{
    background-color: #FFA1CF;
    border-radius: 10px;
    width:70px;
    height: 70px;
    margin: 5px;
    border: none;
    cursor: pointer;
}
.container-time{
    background-color: #FFD6EC
}
.time-container{
    display: flex;
    width: 70%;
    padding: 10px;
    height: 60px;
}
.study-info{
    display: flex;
    justify-content: space-around;
}