.info-containers{
    display: flex;
    margin-right: 10px;
}
.info{
    background-color:#FFE6F7;
    text-align: center;
    height: 100px;
    width: 115px;
    margin-right: 10px;
}
.container{
    display: flex;
    align-items: center;

}
.user-img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 5px;
}