.user-activity{
    position:relative;
}
.user-card{
    position: sticky;
    top: 0;
}
.btn-activate{
    background-color:#516BEB;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    padding: 10px;
    margin: 40px;
    color: white;
}
.btn-activate:hover{
    background-color: blue;
    cursor: pointer;
}