.home-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 40px;
    
}
.card-container{
    grid-template-columns: repeat(3,1fr);
    background-color:#FFE6F7;
    border-radius: 10px;
    box-shadow: 2px 2px 4px lightgrey;
}
.user-container{
    background-color: #FFD6EC;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 4px lightgrey;
    position: relative;
}
.user-div{
    position: sticky;
    top: 0;
}
@media screen and (max-width:688px){
    .home-container{
        display: block;
        margin:20px;

    }
    .user-div{
        padding-top: 10px;
        margin-top: 10px;
        position:relative;
        
    }
    .user-container{
        margin-top: px;
    }
}
@media only screen and (min-width:689px) and (max-width:992px){
    .home-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-left: 40px;
    }
}